.content-fixed-ar {
  height: 0;
  overflow: hidden;
  position: relative;

  &__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.flexible-img-full img {
  display: block;
  margin: 0 auto;
  width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

.flexible-img-full {
  position: relative;
}

.padding-top-md {
  padding-top: 40px;
}

.bg-photo-spaceer {
  height: 800px;
}

.visually-hidden-wrap {
  position: relative;
}

.visually-hidden-content {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: -1000;
}