.photo-gallery-slider,
.insider-tips-slider {
  position: relative;

  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: solid 3px #dd57cf;
    color: #dd57cf;
    text-align: center;
    line-height: 70px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    border-radius: 70px;

    @include media-breakpoint-up(md) {
      line-height: 100px;
      font-size: 40px;
      width: 100px;
      height: 100px;
      border-radius: 100px;
    }

    &:hover,
    &:focus {
      cursor: pointer;
    }

    &.slick-prev {
      left: 25px;

      @include media-breakpoint-up(lg) {
        left: 50px;
      }

      @include media-breakpoint-up(xl) {
        left: 140px;
      }
    }

    &.slick-next {
      right: 25px;

      @include media-breakpoint-up(lg) {
        right: 50px;
      }

      @include media-breakpoint-up(xl) {
        right: 140px;
      }
    }
  }
}

.photo-gallery-slider {
  line-height: 0;
}

.insider-tips-slider {
  .slick-arrow {
    @include media-breakpoint-down(sm) {
      top: 120%;
    }
  }
}