.intro-countdown-content {
  .cls-1 {
    fill: #ee509a;
  }

  .cls-10,
  .cls-2 {
    fill: #2adfdf;
  }

  .cls-20,
  .cls-25,
  .cls-26,
  .cls-3 {
    fill: #fff;
  }

  .cls-24,
  .cls-4 {
    fill: none;
  }

  .cls-20,
  .cls-21,
  .cls-22,
  .cls-23,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    isolation: isolate;
  }

  .cls-6,
  .cls-7 {
    font-size: 64px;
    font-family: 'Gobold Bold Italic', 'Gobold Bold Italic';
  }

  .cls-14,
  .cls-6,
  .cls-8 {
    fill: #f8e71c;
  }

  .cls-21,
  .cls-22,
  .cls-23,
  .cls-25,
  .cls-26,
  .cls-27,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    font-style: italic;
  }

  .cls-11,
  .cls-7,
  .cls-9 {
    fill: #7e3beb;
  }

  .cls-8,
  .cls-9 {
    font-size: 85px;
    font-family: 'Gobold Regular Italic', 'Gobold Regular';
  }

  .cls-10,
  .cls-24 {
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .cls-12 {
    fill: #3d1717;
  }

  .cls-13 {
    fill: #c06539;
  }

  .cls-15 {
    fill: #f6de5e;
  }

  .cls-16 {
    fill: #cfaf31;
  }

  .cls-17 {
    fill: #9b4b2c;
  }

  .cls-18 {
    fill: #f2beba;
  }

  .cls-19 {
    fill: #eb958e;
  }

  .cls-20 {
    font-size: 84.99px;
    font-family: 'IM FELL Double Pica Roman', 'IM FELL Double Pica';
    letter-spacing: -0.02em;
  }

  .cls-21 {
    font-size: 48px;
  }

  .cls-21,
  .cls-22,
  .cls-23 {
    font-family: 'IM FELL English Italic', 'IM FELL English';
  }

  .cls-22 {
    font-size: 21px;
  }

  .cls-23 {
    font-size: 24px;
  }

  .cls-25,
  .cls-27 {
    font-size: 14px;
  }

  .cls-25,
  .cls-26 {
    font-family: 'IM FELL Double Pica Italic', 'IM FELL Double Pica';
  }

  .cls-26 {
    font-size: 32px;
  }

  .cls-27 {
    font-family: IM_FELL_French_Canon_Italic, IM FELL French Canon;
  }

  .cls-28 {
    letter-spacing: 0em;
  }

  .cls-29 {
    fill: #231f20;
  }
}

.festival-info-content {
  .cls-1 {
    fill: #7e3beb;
  }

  .cls-2,
  .cls-3 {
    fill: #4e18af;
  }

  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-16,
  .cls-18,
  .cls-3,
  .cls-4,
  .cls-42,
  .cls-43,
  .cls-47,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    isolation: isolate;
  }

  .cls-3 {
    font-size: 14px;
    font-family: Gobold-Italic, Gobold;
  }

  .cls-10,
  .cls-15,
  .cls-16,
  .cls-18,
  .cls-3,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    font-style: italic;
  }

  .cls-10,
  .cls-5,
  .cls-6,
  .cls-8,
  .cls-9 {
    font-size: 36px;
  }

  .cls-10,
  .cls-11,
  .cls-12,
  .cls-13,
  .cls-14,
  .cls-15,
  .cls-16,
  .cls-19,
  .cls-22,
  .cls-27,
  .cls-31,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    fill: #fff;
  }

  .cls-10,
  .cls-18,
  .cls-5,
  .cls-6,
  .cls-7,
  .cls-8,
  .cls-9 {
    font-family: 'IM FELL Italic', 'IM FELL Regular';
  }

  .cls-5 {
    letter-spacing: -0.04em;
  }

  .cls-6 {
    letter-spacing: -0.02em;
  }

  .cls-13,
  .cls-14,
  .cls-7 {
    font-size: 24px;
  }

  .cls-9 {
    letter-spacing: 0.02em;
  }

  .cls-10 {
    letter-spacing: 0.01em;
  }

  .cls-11,
  .cls-12 {
    font-size: 42.07px;
    font-family: 'IM FELL English SC', 'IM FELL English SC';
  }

  .cls-12 {
    letter-spacing: -0.02em;
  }

  .cls-13 {
    font-family: 'Gobold Light';
  }

  .cls-14 {
    font-family: 'Gobold CUTS';
    letter-spacing: 0.1em;
  }

  .cls-15 {
    font-size: 42.71px;
  }

  .cls-15,
  .cls-16 {
    font-family: 'Gobold CUTS Italic', 'Gobold CUTS';
  }

  .cls-16 {
    font-size: 56.94px;
  }

  .cls-17 {
    letter-spacing: -0.02em;
  }

  .cls-18 {
    font-size: 48px;
    fill: #2adfdf;
  }

  .cls-19,
  .cls-27 {
    stroke: #fc1610;
  }

  .cls-19,
  .cls-21,
  .cls-27,
  .cls-29,
  .cls-31,
  .cls-48,
  .cls-49,
  .cls-50,
  .cls-51,
  .cls-52,
  .cls-53,
  .cls-67,
  .cls-69 {
    stroke-miterlimit: 10;
  }

  .cls-19,
  .cls-65 {
    stroke-width: 0.25px;
  }

  .cls-20 {
    fill: #fc1610;
  }

  .cls-21,
  .cls-26,
  .cls-29 {
    fill: #7e43e7;
  }

  .cls-21,
  .cls-29,
  .cls-48,
  .cls-49,
  .cls-50,
  .cls-51,
  .cls-52,
  .cls-53,
  .cls-67 {
    stroke: #000;
  }

  .cls-21,
  .cls-48,
  .cls-49,
  .cls-50,
  .cls-51,
  .cls-52,
  .cls-53,
  .cls-67 {
    stroke-width: 0.13px;
  }

  .cls-23,
  .cls-24,
  .cls-25,
  .cls-33,
  .cls-65,
  .cls-69 {
    fill: none;
  }

  .cls-23,
  .cls-24,
  .cls-25,
  .cls-31,
  .cls-65 {
    stroke: #7e43e7;
  }

  .cls-23,
  .cls-24,
  .cls-25,
  .cls-65 {
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  .cls-23,
  .cls-24,
  .cls-25 {
    stroke-width: 0.5px;
  }

  .cls-24 {
    stroke-dasharray: 1.93 1.93;
  }

  .cls-25 {
    stroke-dasharray: 2.01 2.01;
  }

  .cls-27 {
    stroke-width: 0.15px;
  }

  .cls-28 {
    fill: url(#linear-gradient);
  }

  .cls-29 {
    stroke-width: 0.14px;
  }

  .cls-30 {
    fill: url(#linear-gradient-2);
  }

  .cls-31 {
    stroke-width: 0.57px;
  }

  .cls-32 {
    fill: #ee509a;
  }

  .cls-33 {
    stroke: #fff;
    stroke-width: 3px;
  }

  .cls-34 {
    fill: url(#linear-gradient-3);
  }

  .cls-35 {
    fill: url(#linear-gradient-4);
  }

  .cls-36 {
    fill: url(#linear-gradient-5);
  }

  .cls-37 {
    fill: url(#linear-gradient-6);
  }

  .cls-38 {
    fill: url(#linear-gradient-7);
  }

  .cls-39 {
    fill: url(#linear-gradient-8);
  }

  .cls-40 {
    fill: url(#linear-gradient-9);
  }

  .cls-41 {
    fill: url(#linear-gradient-10);
  }

  .cls-42,
  .cls-43 {
    opacity: 0.5;
  }

  .cls-42 {
    fill: url(#linear-gradient-11);
  }

  .cls-43 {
    fill: url(#linear-gradient-12);
  }

  .cls-44 {
    fill: url(#radial-gradient);
  }

  .cls-45 {
    fill: #896545;
  }

  .cls-46 {
    fill: url(#radial-gradient-3);
  }

  .cls-47 {
    opacity: 0.72;
    fill: url(#radial-gradient-5);
  }

  .cls-48 {
    fill: #ffde00;
  }

  .cls-49 {
    fill: #f20;
  }

  .cls-50 {
    fill: #0fb900;
  }

  .cls-51 {
    fill: #ff900e;
  }

  .cls-52 {
    fill: #0057e7;
  }

  .cls-53 {
    fill: #ff23ff;
  }

  .cls-54 {
    fill: url(#radial-gradient-7);
  }

  .cls-55 {
    fill: url(#radial-gradient-8);
  }

  .cls-56 {
    fill: url(#radial-gradient-9);
  }

  .cls-57 {
    fill: url(#radial-gradient-10);
  }

  .cls-58 {
    fill: url(#radial-gradient-11);
  }

  .cls-59 {
    fill: url(#radial-gradient-12);
  }

  .cls-60 {
    fill: url(#radial-gradient-13);
  }

  .cls-61 {
    fill: url(#radial-gradient-14);
  }

  .cls-62 {
    fill: url(#radial-gradient-15);
  }

  .cls-63 {
    fill: url(#radial-gradient-17);
  }

  .cls-64 {
    fill: url(#radial-gradient-19);
  }

  .cls-65 {
    stroke-dasharray: 1 1;
  }

  .cls-66 {
    fill: url(#radial-gradient-21);
  }

  .cls-67 {
    fill: url(#linear-gradient-13);
  }

  .cls-68 {
    fill: #5e5e5e;
  }

  .cls-69 {
    stroke: #2adfdf;
    stroke-width: 5px;
  }

  .cls-70 {
    opacity: 0.42;
  }
}
