@font-face {
  font-family: 'Gobold';
  src: url('../fonts/Gobold-Regular-Italic.otf');
  font-weight: 400;
}

body * {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* General */
h1,
h2,
h3,
h4,
h5,
button,
.btn {
  font-family: 'Gobold';
  font-style: italic;
  font-weight: normal;
  letter-spacing: 0.5px;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto';
  font-style: normal;
}

h5,
.h5 {
  @include as-rem('font-size', 24px);
}

ul {
  list-style: none;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #9b9b9b;
  margin: 20px 0;
}

a {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: #555;
}

/* Fonts */
.gobold {
  font-family: 'Gobold';
  font-style: italic;
}

/* colors */
.bg-bluegreen {
  background: #2adfdf;
}

.bg-pink {
  background: #ee509a;
}

.bg-purple {
  background: #7e3beb;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-black {
  background: #111111;
}

.bg-white {
  background: #ffffff;
}

.bg-yellow {
  background: #f8e71c;
}

.text-bluegreen {
  color: #2adfdf;
}

.text-pink {
  color: #ee509a;
}

.text-purple {
  color: #7e3beb;
}

.text-gray {
  color: #f5f5f5;
}

.text-black {
  color: #111111;
}

.text-white {
  color: #ffffff;
}

.text-yellow {
  color: #f8e71c;

  @include hover {
    color: #f8e71c;
  }
}

/* section height */
.height-500 {
  min-height: 500px;
}

.height-800 {
  max-height: 800px;
  min-height: 800px;
}

.height-300 {
  min-height: 300px;
}

.md-spacer {
  display: block;
  height: 40px;
}

a.btn {
  text-decoration: none;
}

.btn.bg-black {
  color: #fff;
  background: #000;
}


.large-li ul li {
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: .5em;
}

.arrow-link {
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.5px;

  &:after {
    margin-left: 1em;
    content: '\f30b';
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
  }
}