@import "variables";
@import "~bootstrap/scss/bootstrap";
@import '~slick-carousel/slick/slick.scss';
@import "mixins";
@import 'slider';

@font-face {
  font-family: 'Gobold';
  src: url('../fonts/Gobold Bold Italic.woff');
  font-weight: 400;
}

/* General */
h1,
h2,
h3,
h4,
h5,
button {
  font-family: 'Gobold';
  font-style: italic;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Roboto';
  font-style: normal;
}

ul {
  list-style: none;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #9b9b9b;
  margin: 20px 0;
}

a {
  text-decoration: underline;
}

nav a {
  text-decoration: none;
  color: #555;
}

/* Fonts */
.gobold {
  font-family: 'Gobold';
  font-style: italic;
}

/* colors */
.bg-bluegreen {
  background: #2adfdf;
}

.bg-pink {
  background: #ee509a;
}

.bg-purple {
  background: #7e3beb;
}

.bg-gray {
  background: #f5f5f5;
}

.bg-black {
  background: #111111;
}

.bg-white {
  background: #ffffff;
}

.bg-yellow {
  background: #f8e71c;
}

.text-bluegreen {
  color: #2adfdf;
}

.text-pink {
  color: #ee509a;
}

.text-purple {
  color: #7e3beb;
}

.text-gray {
  color: #f5f5f5;
}

.text-black {
  color: #111111;
}

.text-white {
  color: #ffffff;
}

.text-yellow {
  color: #f8e71c;
}

/* section height */
.height-500 {
  min-height: 500px;
}

.height-800 {
  max-height: 800px;
  min-height: 800px;
}

.height-300 {
  min-height: 300px;
}


/* section */
.half-section {
  padding: 50px 0;
}

.section {
  padding: 100px 0;
}

.section-title {
  font-family: 'Gobold';
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  margin-bottom: .75em;
}

.section-title {
  letter-spacing: 1px;
  font-weight: 400;
}


/* footer */
footer a {
  text-decoration: none;
}

footer h1,
footer h2,
footer h3,
footer h4,
footer h5 {
  font-family: 'Roboto';
  font-style: normal;
}



.md-spacer {
  display: block;
  height: 40px;
}

//.btn {font-family: }
.btn.bg-black {
  color: #fff;
  background: #000;
}


.large-li ul li {
  font-size: 1.8em;
  line-height: 1.3em;
  margin-bottom: .5em;
}





.padding-top-md {
  padding-top: 40px;
}

.bg-photo-spaceer {
  height: 800px;
}

/* things to know */
#things-to-know ul li h4 {
  font-size: 2rem;
  line-height: 1.1em;
  color: #9013fe;
}

#things-to-know ul li p {
  font-size: .8em;
  line-height: 1.1rem;
  margin-top: .5em;
}

/* parties */

.events li {
  line-height: 3em;
}

.events li h5 {
  color: #ffffff;
  font-size: 1.5em;
  line-height: 1.4em;
}

.events li p {
  color: #50e3c2;
  line-height: 1em;
  margin: 0 0 1.2em;
}

.events li p span {
  color: #111111;
}

/* general  */
@media only screen and (max-width:480px) {
  .section-title {
    font-family: 'Gobold';
    font-size: 2em;
    font-weight: bold;
    font-style: italic;
    margin-bottom: .75em;
  }
}










/* contest  */
@media only screen and (max-width:480px) {
  #contest {
    padding: 0 50px;
  }

  #things-to-know {
    margin-top: 130px;
  }

  #things-to-know ul {
    margin: 0 30px;
  }

  #things-to-know ul li h4 {
    font-size: 1.5em;
    line-height: 1.1em;
    color: #9013fe;
  }

  #things-to-know ul li p {
    font-size: .8em;
    line-height: 1.1rem;
    margin-top: .5em;
  }

}

@media only screen and (min-width:576px) {
  #contest .overlap-photo {
    position: relative;
    margin-left: 0px;
  }

  #contest .overlap-text {
    position: relative;
    padding-left: 0;
  }
}

@media only screen and (min-width:768px) {
  #contest .overlap-photo {
    position: relative;
    margin-left: 0px;
  }

  #contest .overlap-text {
    position: relative;
    padding-left: 0;
  }
}

@media only screen and (min-width:992px) {}

@media (min-width:1200px) {
  #contest .overlap-photo {
    position: relative;
    margin-left: -200px;
  }

  #contest .overlap-text {
    position: relative;
    padding-left: 100px;
  }
}


/* events  */
@media only screen and (max-width:480px) {
  ul.events {
    margin: 250px 0 100px 80px;
  }
}

@media only screen and (min-width:576px) {
  ul.events {
    margin-left: 100px;
    padding: 100px 0;
  }
}

@media only screen and (min-width:768px) {

  ul.events {
    margin-left: 100px;
  }
}

@media only screen and (min-width:992px) {}

@media (min-width:1200px) {
  /* ul.events {margin-left: 20%; margin-top: 20%; padding: 100px 0;} */
}